.test-parent{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: hsl(190 100% 50%);
    font-family: sans-serif;;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1.1px;
}

.desc{
    color: white;
    font-family: sans-serif;;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
}

span{
    background: linear-gradient(135deg, #0cabc4, #290160);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor:context-menu;
}

.test-boxes{
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: rgba(58, 48, 48, 0.08);
    border-radius: 15px;
    width: 400px;
    height: 215px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.test-boxes:hover{
    background-color: rgba(108, 98, 98, 0.08);
    .lucide-star{
        box-shadow: 0 4px 7px rgba(34, 211, 238, 0.12);
        transform: translateY(-2px);
        transition: 0.3s ease;
    }
    .box-desc{
        transform: translateY(-2px);
        transition: 0.3s ease;
    }
    .quote-sector{
        transform: translateY(-2px);
        transition: 0.3s ease;
    }
}

.stars{
    display: flex;
    justify-content: left;
    margin-left: 26px;
}

.lucide-star{
    fill: hsl(190 100% 50%);
    stroke: hsl(190 100% 50%);
    width: 16px;
    height: 16px;
    transition: 0.3s ease;
}

.box-desc{
    color: rgba(255, 255, 255, 0.78);
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 400;
    opacity: 0.9;
    margin-left: 30px;
    line-height: 20px;
    width: 360px;
    margin-top: 30px;
}

.quote-sector{
    display: flex;
    gap: 13px;
    margin-left: 30px;
}

.initials{
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 13px;
    opacity: 0.7;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.78);
    letter-spacing: 1px;
    margin-top: -4px;

}

.name{
    color: white;
    font-family: sans-serif;;
    font-weight: 500;
    font-size: 16px;
    margin: auto;
}

.role{
    color: rgba(109, 101, 101, 0.78);
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 400;
    opacity: 0.9;
    margin: auto;
}

#testimonials{
  scroll-margin-top: 120px;
}

@media screen and (max-width: 1300px) {
    .box-parent{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 863px) {
    .box-parent{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 608px) {
    .desc{
        font-size: 33px;
    }

    .test-boxes{
        width: 300px;
        height: 260px;
    }

    .box-desc{
        width: 200px;
    }
}


@media screen and (max-width: 394px) {
    .title{
        font-size: 15px;
    }

    .desc{
        font-size: 23px;
    }

    .test-boxes{
        width: 250px;
        height: 260px;
    }

    .box-desc{
        width: 200px;
    }
}
