<section id="products" class="showcase">
    <div class="showcase-container">
        <h1 class="showcase-title">PRODUCT</h1>
        <p class="showcase-desc">See NovaMind <span class="in">in</span> <span class="action"> action</span></p>
        <div class="buttons">
            @for (tab of tabs; track tab.id) {
                <button class="showcase-btns" [class.active]="activeTab() === tab.id" (click)="setActiveTab(tab.id)">
                @if (tab.id === "dashboard") {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-bar-icon lucide-chart-bar"><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="M7 16h8"/><path d="M7 11h12"/><path d="M7 6h3"/></svg>
                }
                @if (tab.id === "workflow") {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-layers-icon lucide-layers"><path d="M12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83z"/><path d="M2 12a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 12"/><path d="M2 17a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 17"/></svg>
                }
                @if (tab.id === "insights") {
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles-icon lucide-sparkles"><path d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"/><path d="M20 2v4"/><path d="M22 4h-4"/><circle cx="4" cy="20" r="2"/></svg>
                }
                {{tab.label}}
                </button>
            }
        </div>
        <div class="showcase-card">
            <div class="showcase-left">
                <p class="title">{{activeContent().title}}</p>
                <p class="desc">{{activeContent().desc}}</p>
            </div>
            <div class="showcase-right">
                @for (item of activeContent().stats; track item.lable) {
                    <div class="container">
                        <div class="container-section">
                            <p class="item-lable">{{item.lable}}</p>
                            <p class="item-value">{{item.value}}</p>
                        </div>
                        <p class="tag">{{item.tag}}</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>